<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/font-awesome/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery TouchSwipe plugin -->
    <script src="javascripts/jquery.touchSwipe.min.js"></script>

    <!-- w3 nav bar -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

</head>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="color:black;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="background-color:lightgray;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
       <!-- <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav"> --!>
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a href="#page-top" class="hidden"></a>
                </li>
                <li>
                    <a class ="page-scroll" href="#myCarousel">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/map">Map</a>
                </li>
                <li>
                    <a href="" >Archive</a>
                </li>
                <li>
                    <a class="page-scroll" href="#catalog">Catalog</a>
                </li>
            </ul>
        </div>

    <!-- /.navbar-collapse -->
    </div>
</nav>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Intro Header -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="stylesheets/images/frontImages/SantaRosaSign.jpg" style="margin: auto;"/>
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">Help map out the history of Santa Rosa by adding the story of your neighborhood.</p>
            </div>
        </div>
        <div class="item">
            <img src="stylesheets/images/frontImages/Horse.jpg" style="margin: auto;" />
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">What places tell a story of how a part of the city has changed?</p>
            </div>
        </div>
        <div class="item">
            <img src="stylesheets/images/frontImages/Flags.jpg" style="margin: auto;"/>
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">What places make your neighborhood distinctive?</p>
            </div>
        </div>
        <div class="item">
            <img src="stylesheets/images/frontImages/EmpireBuilding.jpg" style="margin: auto;"/>
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">What important places used to be in your part of the city, but are now gone?</p>
            </div>
        </div>

        <div class="item">
            <img src="stylesheets/images/frontImages/Sign.jpg" style="margin: auto;"/>
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">What places in your neighborhood would you miss if they were gone?</p>
            </div>
        </div>

        <div class="item">
            <img src="stylesheets/images/frontImages/Flower.jpg" style="margin: auto;"/>
            <div class="carousel-caption">
                <h3 style="font-size: medium;">Santa Rosa Mapping Project</h3>
                <p style="font-size: medium;">What places tell a story of Santa Rosa?</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<!-- About Us Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Santa Rosa Mapping Project</h2>
            <p>The Santa Rosa Neighborhood Heritage Mapping Project is a neighborhood-based community mapping program we are conducting over the next year and a half in the city of Santa Rosa, California. The project is designed as a broad-based community engagement program that works with the city’s existing neighborhoods to create an interactive digital map of sites, places and stories important to the people who live there. We will deliver the map as part of the commemoration of the city’s sesquicentennial celebrations in September, 2018. </p>
                <p>Santa Rosa is a place with many diverse neighborhoods, and each has its own stories to tell.  Celebrating the 150th anniversary of the city’s founding gives us an opportunity to document all those stories, and use them to create a single, shared map of this place we all call “home”.  Some of those neighborhood stories are about the earliest days of the city’s history. Others are about people, places, and events that make up the city today. Some city neighborhoods are old; some are brand new.  This project wants them all. Whether you’ve been here for generations, or just moved in last week, chances are you have a Santa Rosa story to tell about the special places in your neighborhood. This project provides an easily accessible online platform for us to talk about the city places we share, while also documenting the rich and varied “sense of place” across the city’s different neighborhoods.
            </p>
        </div>
    </div>
</section>
<!-- /.row -->


<!--<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"></div>

<!-- Catalog Section -->
<section id="catalog">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Catalog
            </h1>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/SantaRosaSign.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/Horse.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/Flags.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/winery.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/Flower.jpg" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="/stylesheets/images/frontImages/EmpireBuilding.jpg" alt="">
            </a>
        </div>
    </div>
</section>
<!-- /.row -->

<!-- Footer -->
<footer id="footer">
    <div class="container text-center">
        <p>Copyright &copy; City of Santa Rosa</p>
    </div>
</footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>


<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>


<!-- Plugin JavaScript -->
<script src='/javascripts/jquery.easing.min.js'></script>

<!--&lt;!&ndash; Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ &ndash;&gt;-->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

<!-- Custom Theme JavaScript -->
<script src='/javascripts/modernizr.custom.js'></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>
